/* html,
body {
  height: 100%;
}

body {
  display: grid;
  font-family: Avenir;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
/* 
.App-body {
  width: 100%;
  padding: 0 2em;
}

.jumbo-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 10px;
}

.jumbo-bar div {
}

.add-icon-section {
  flex: 2;
}

.generator-section {
  flex: 1;
  text-align: right;
}

.icon-list-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon-wrapper {
  text-align: center;
}

.icon-individual {
  font-size: 4em;
  margin: 8px 16px;
}

.icon-title {
  justify-content: space-around;
  font-size: 0.8em;
}

.icon-title p {
  margin: 0;
  padding: 0.2em 0.5em;
  display: inline-block;
}

.icon-delete {
  display: inline-block;
  background: red;
  border-radius: 0.7em;
  font-size: 0.7em;
  padding: 0.2em 0.4em;
  margin: 0;
} */
/* 
.notification-bar {
  border: solid 1px lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
